html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
body{
    position: relative;
    margin: 0px;
    padding: 0px;
}


#top{    
    color: #444444;
    position: fixed;
    top:85%;
    right: 30px;
    font-size: 1.5rem;
    padding: 20px 15px;
}
#top a{
    background-color: #ec523f;
    padding: 20px 15px;
    border-radius: 50%;
    border: 3px solid black;
}
a,h1,h2,h3{
    color: #444444;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
}
/*---------------- First Box (Home) Start-------------------*/
.home{
    background: url("./images/home.jpg") no-repeat;
    background-size: cover;
    flex-basis:100vw; 
    display: flex;
    justify-content: center;
}

.header{
    align-items:center;
    flex-basis: 75vw; 
    gap:20px;   
    display: flex;
    flex-direction: column;
}
.top-header{
    flex-basis: 10vh;
    justify-content: center;
    align-items: flex-end;
    gap:8px;
    display: flex;
}

.top-header .fa{
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
    background: white;
    color: #444444;
    box-sizing: border-box;
    margin-top: 30px;
    width: 35px;
    height: 35px;
}

.middle-header{
    min-width: 100%;
    justify-content: center;
    display: flex;
}
.middle-header-wrapper{
    background-color: white;
    flex-basis: 100vw;
    display: flex;
}
.logo-wrapper{
    display: flex;
    flex: 1;
    align-items:center;
    gap: 20px;
}
.logo-wrapper img{
    max-height: 100%;
    object-fit: cover;
}

.logo-wrapper a{
    color: #ec523f;
    font-size: 2.5rem;
    font-weight: 900;
}

.menu-wrapper{
    flex: 3;
    display: flex;
    justify-content: flex-end;
}
.menu-wrapper li{
    list-style: none;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    height: 100%; 
    padding:0% 4%;
}
.menu-wrapper li a{
    line-height: 95px;
    color: #444444;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 30px;
    font-size: 1.2rem;
}
.menu-wrapper li a:hover{
    color: #ec523f;
    border-top: 3px solid #ec523f;
}
.bottom-header{
    flex-shrink: 0;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bottom-header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-header-wrapper h1{
    color: white; 
    font-weight: bolder;
    font-size: 2.5rem;
    border-bottom: 2px solid white;
    padding: 5px 0px;
}
.bottom-header-wrapper h2{
    color: white;
    margin: 10px 0px;
}
.bottom-header-wrapper button{
    background-color: #ec523f;
    color: white;
    margin: 10px 0px;
    font-weight: bold;
    box-sizing: border-box;
    width: 150px;
    line-height: 30px;
    border: 0px;
    border-radius: 5px;
}
/*---------------- First Box (Home) End-------------------*/


/*---------------- Second Box (Section) Start --------------*/

.services{
    flex-basis: 100vw;
    display: flex;
    justify-content: center;   
}
.services-container{
    flex-basis: 75%;
    gap: 10px;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.services-header-wrapper{
    height: 25vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.services-header{
    line-height: 30px;
    text-align: center;
    color:#444444;
}
.services-header h1{
    border-bottom: 2px solid #444444;
}
.services-header h2{
    margin-top: 5px;
    font-size: small;
    font-weight: 500;
}
.services-bottom-wrapper{
    display: flex;
    gap:15px;
    justify-content: center;
    margin-top: 50px;
}
.services-bottom-wrapper .fa{
    border-radius: 0px;
    padding: 120px 0px;
    box-sizing: border-box;
    color: white;
    font-size: 50px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
.services-col-1, .services-col-2, .services-col-3, .services-col-4{
    flex-basis: 23%;
}
/*---------------- Second Box (Section) End --------------*/

/*---------------- Third Box (Portfolio) Start --------------*/

.portfolio{
    flex-basis: 100vw;
    display: flex;
    justify-content: center;
}
.portfolio-container{
    flex-basis: 100%;
    gap: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.portfolio-header{
    height: 25vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.portfolio-header-wrapper{ 
    line-height: 40px;
    text-align: center;
    color:#444444;
}
.portfolio-header-wrapper h1{
    border-bottom: 2px solid #444444;
}
.portfolio-header-wrapper h2{
    font-size: small;
    font-weight: 500;
}
.portfolio-bottom{
    display: flex;
    width: 100%;
}
.portfolio-bottom-wrapper{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;    
    gap: 10px;
    justify-content: center;
}   
.portfolio-bottom-wrapper > img{
    flex-basis: 20%;
    height: 210px;
    box-sizing: border-box;
    object-fit: cover;
}
/*---------------- Third Box (Portfolio) End --------------*/

/*---------------- Fourth Box (Team) Start --------------*/
.team{
    flex-basis:100vw; 
    display: flex;
    justify-content: center;
}
.team-container{
    flex-basis: 75%;
    gap: 30px;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.team-header-row-1{
    flex-basis:25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-header{ 
    line-height: 40px;
    text-align: center;
    color:#444444;
}
.team-header h1{
    border-bottom: 2px solid #444444;
}
.team-header h2{
    font-size: small;
    font-weight: 500;
}
.team-header-row-2{
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.team-header-row-2 img{
    max-width: 22%;
    object-fit: fill;
    border-radius: 50%;
}
.team-header-row-3{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.team-header-row-3 h2,h3,p{
    line-height: 25px;
    text-align: justify;
    color: #444444;
    font-size: 1rem;
    font-weight: lighter;
    
}
.team-header-row-3 h2{
    margin-top: 50px;
}
/*---------------- Fourth Box (Team) End --------------*/

/*---------------- Fifth Box (Contact) Start --------------*/
.contact{
    flex-basis: 100vw;
    display: flex;
    justify-content: center;
}
.contact-container{
    flex-basis: 75%;
    gap: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.contact-header-row-1{
    flex-basis:25vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contact-header{ 
    line-height: 40px;
    text-align: center;
    color:#444444;
}
.contact-header h1{
    border-bottom: 2px solid #444444;
}
.contact-header h2{
    font-size: small;
    font-weight: 500;
}
.contact-header-row-2{
    gap: 40px;
    justify-content: center;
    display: flex;
}

.contact-header-row-2-inner-1{
    flex: 2;
}
.contact-header-row-2 p{
    text-align: justify;
    line-height: 25px;
    color: #444444;
    font-size: 1rem;
    font-weight: lighter;
}
.contact-header-row-2-inner-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.contact-header-row-2-inner-2 input,textarea, button{
    line-height: 40px;
    border-color: 1px #444444;
}
/*---------------- Fifth Box (Contact) End --------------*/

/*---------------- Sixth Box (Footer) Start --------------*/
.footer{
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
    min-height: 100px;
    align-items: center;
}
.footer-container
{
    flex-basis: 75%;
    line-height: 30px;
    color: #444444;
}
/*---------------- Sixth Box (Footer) End --------------*/
